* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(120deg, #6a85b6, #6fd6ff, #c3f0ca);
}

.glass-container {

  display: flex;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.3);
}

.left-panel {
  flex: 1;
  padding: 60px;
  border-radius: 25px 0 0 25px;

  background: linear-gradient(135deg, #4facfe, #43e97b);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.left-panel p {
  font-size: 16px;
  line-height: 1.6;
}

.right-panel {
  flex: 1;
  padding: 50px;
  background: rgba(255,255,255,0.35);
  border-radius: 0 25px 25px 0;

}

.right-panel h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #444;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.7);
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 25px;
}

.options a {
  text-decoration: none;
  color: #333;
}

.input-box select {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  appearance: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 16px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signup-text a {
  text-decoration: none;
  font-weight: bold;
}
